<a href="https://colab.research.google.com/github/AryanKohli88/Atrial-Fibrillation-predicting-model/blob/updated/updated_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
# drive.mount('/content/gdrive')
df = pd.read_csv('physionet_A_N.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18370 entries, 0 to 18369
Columns: 271 entries, TS_0 to CLASS
dtypes: float64(270), object(1)
memory usage: 38.0+ MB

In [ ]:
df.isnull().sum() ## So we see there are no null values

TS_0      0
TS_1      0
TS_2      0
TS_3      0
TS_4      0
         ..
TS_266    0
TS_267    0
TS_268    0
TS_269    0
CLASS     0
Length: 271, dtype: int64

In [ ]:
df.describe()

,TS_0,TS_1,TS_2,TS_3,TS_4,TS_5,TS_6,TS_7,TS_8,TS_9,...,TS_260,TS_261,TS_262,TS_263,TS_264,TS_265,TS_266,TS_267,TS_268,TS_269
count,18370.000000,18370.000000,18370.000000,18370.000000,18370.000000,18370.000000,18370.000000,18370.000000,18370.000000,18370.000000,...,18370.000000,18370.000000,18370.000000,18370.000000,18370.000000,18370.000000,18370.000000,18370.000000,18370.000000,18370.000000
mean,6.460425,5.024823,4.541698,6.391889,6.158356,5.750136,4.165106,3.910996,3.444529,3.132281,...,7.016222,8.752041,8.110343,10.027055,7.581383,7.465705,9.962929,9.961132,8.139575,8.737180
std,272.334830,420.495452,402.284830,386.746853,378.025853,364.795591,347.348664,343.027604,337.468859,324.780727,...,198.537713,192.926446,197.262111,199.259975,196.717561,199.346913,199.376930,197.770150,197.604523,201.765898
min,-3614.000000,-6466.000000,-5019.000000,-4764.000000,-5952.000000,-6422.000000,-5255.000000,-6984.000000,-4687.000000,-5096.000000,...,-3479.000000,-2398.000000,-2790.000000,-3484.000000,-3402.000000,-3597.000000,-3756.000000,-3384.000000,-3154.000000,-4153.000000
25%,-71.000000,-79.000000,-79.000000,-79.000000,-79.000000,-77.000000,-77.000000,-75.000000,-75.000000,-75.000000,...,-60.000000,-59.000000,-59.000000,-59.000000,-60.000000,-60.000000,-59.000000,-59.000000,-59.000000,-58.000000
50%,-8.000000,-9.000000,-9.000000,-9.000000,-11.000000,-10.000000,-10.000000,-10.000000,-9.000000,-8.000000,...,-9.000000,-10.000000,-10.000000,-9.000000,-10.000000,-10.000000,-10.000000,-10.000000,-9.000000,-10.000000
75%,72.000000,82.000000,82.000000,80.000000,80.000000,79.000000,77.000000,73.000000,73.000000,70.750000,...,53.000000,52.000000,52.000000,53.000000,53.000000,52.000000,55.000000,55.000000,53.000000,53.000000
max,3344.000000,5514.000000,6134.000000,6305.000000,6479.000000,5658.000000,5728.000000,5847.000000,6070.000000,5308.000000,...,3109.000000,4482.000000,5790.000000,5405.000000,4082.000000,4027.000000,4170.000000,3503.000000,3908.000000,3190.000000

In [ ]:
df['CLASS'].value_counts()

N    16030
A     2340
Name: CLASS, dtype: int64

From the Above Description we conclude that the features are Catagorical as the final "CLASS" will either be "A" or "N".

In [ ]:
dupcols = set()
for x in range(df.shape[1]):
  base_col = df.iloc[:,x]
  for y in range(x+1, df.shape[1]):
    comp_col = df.iloc[:,y]

    if base_col.equals(comp_col):
      dupcols.add(df.columns.values[y])

print(dupcols)

## hence we conclude there are no duplicate features in the given data

set()

# Analysing Features

In [ ]:
df['Sum'] = df.sum(axis=1)
df['CLASS'].replace({'N':0 , "A":1}, inplace = True)
corr_matrix = df.corr()
(np.sqrt((corr_matrix['CLASS'])*(corr_matrix['CLASS']))).sort_values()

<ipython-input-70-cf4cd9bff158>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['Sum'] = df.sum(axis=1)

TS_162    0.000024
TS_237    0.000038
TS_57     0.000101
TS_101    0.000178
TS_35     0.000214
            ...
TS_85     0.017930
TS_182    0.018926
TS_128    0.019335
TS_92     0.021560
CLASS     1.000000
Name: CLASS, Length: 272, dtype: float64

This Shows that a lot of features are not effecting the output a lot. We will drop features for whome magnitude of correlation outpur is less than 0.005

In [ ]:
corr_matrix = corr_matrix.unstack()
filtered_matrix = corr_matrix[abs(corr_matrix)>0.005]
print(filtered_matrix['CLASS'])

TS_0      0.013327
TS_1      0.006802
TS_4     -0.007100
TS_6     -0.005801
TS_7      0.009615
            ...
TS_260    0.005419
TS_263   -0.008422
TS_267   -0.012598
TS_269    0.005345
CLASS     1.000000
Length: 122, dtype: float64

In [ ]:
X = df.drop(columns='CLASS', axis =1)
Y = df['CLASS']

In [ ]:
from sklearn.model_selection import train_test_split
# del X_train
# del X_test
# del Y_train
# del Y_test
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size =0.2, stratify = Y, random_state =42)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(18370, 271) (14696, 271) (3674, 271)

# Model Training

In [ ]:
df['CLASS'].replace({'N':0 , "A":1}, inplace = True)

In [ ]:
df['CLASS'].value_counts()

0    16030
1     2340
Name: CLASS, dtype: int64

In [ ]:
X = df.drop(columns='CLASS', axis = 1)
Y = df['CLASS']
print(X)
print(Y)

        TS_0   TS_1   TS_2   TS_3   TS_4    TS_5   TS_6   TS_7   TS_8   TS_9  \
0     -127.0 -267.0 -241.0 -229.0 -215.0  -201.0 -253.0 -273.0 -226.0 -172.0
1      -41.0  663.0  -39.0 -113.0  -81.0   -67.0  -45.0   34.0   82.0   62.0
2        7.0    7.0   12.0   18.0   36.0    80.0    0.0  -19.0  418.0  248.0
3      128.0  268.0  244.0  209.0  194.0   234.0  203.0  188.0  211.0  228.0
4       13.0   54.0   80.0   56.0  -36.0  1469.0 -199.0 -180.0 -177.0 -126.0
...      ...    ...    ...    ...    ...     ...    ...    ...    ...    ...
18365  535.0 -186.0  -56.0  -37.0   51.0   156.0  188.0  -46.0 -108.0 -119.0
18366 -278.0 -456.0 -410.0 -372.0 -295.0  -169.0 -117.0 -103.0 -187.0 -159.0
18367  -45.0  -56.0  -69.0  -62.0 -474.0    28.0  -24.0  -24.0  -26.0  -14.0
18368  -26.0  -13.0   63.0   20.0   -3.0   -21.0  -19.0  -82.0 -163.0 -239.0
18369    5.0  -70.0  -95.0 -185.0 -122.0    62.0   79.0   87.0   97.0   43.0

       ...  TS_260  TS_261  TS_262  TS_263  TS_264  TS_265  TS_266  TS_267  \
0      ...   -26.0   -29.0   -22.0   -19.0   -22.0   -43.0   -53.0   -23.0
1      ...   -88.0   -22.0    42.0   104.0    32.0     2.0     2.0   -13.0
2      ...   -27.0   -22.0   -33.0   -31.0   -34.0   -11.0     1.0    -8.0
3      ...     1.0   -70.0   -62.0   -44.0   393.0   -74.0   -84.0   -65.0
4      ...     0.0   -15.0   -37.0   -50.0   -21.0    30.0    17.0  1571.0
...    ...     ...     ...     ...     ...     ...     ...     ...     ...
18365  ...  -352.0   -44.0     5.0     1.0    78.0   137.0    46.0   -45.0
18366  ...   -38.0     7.0   -53.0   -72.0   -53.0   -13.0   358.0  -272.0
18367  ...    32.0    49.0    50.0    32.0    23.0    46.0    46.0    27.0
18368  ...    61.0    15.0    37.0    30.0   137.0  -928.0    95.0    50.0
18369  ...    65.0   -36.0    30.0    63.0    76.0    66.0    60.0    19.0

       TS_268  TS_269
0        22.0   -31.0
1       -16.0     6.0
2        12.0    62.0
3       -30.0    -6.0
4      -165.0  -201.0
...       ...     ...
18365   -29.0   -33.0
18366   -15.0    21.0
18367    -5.0    51.0
18368    34.0    36.0
18369   -26.0   -40.0

[18370 rows x 270 columns]
0        0
1        0
2        0
3        0
4        0
        ..
18365    1
18366    1
18367    1
18368    1
18369    1
Name: CLASS, Length: 18370, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.2, stratify = Y, random_state =2)

In [ ]:
print(X_train.shape)
print(X_test.shape)

(14696, 270)
(3674, 270)

In [ ]:
# # using logical regression model
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [ ]:
# # using descision tree model
# from sklearn.tree import DecisionTreeRegressor
# from sklearn.model_selection import cross_val_score
# model = DecisionTreeRegressor()
model.fit(X_train,Y_train)

LogisticRegression()

LogisticRegression model gives better results than decision tree in our case

# Model evaluation - Accuracy score

Accuracy on training set

In [ ]:
from sklearn.metrics import accuracy_score
X_train_predict = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_predict, Y_train)
print(training_data_accuracy)

0.8731627653783343

Accuracy on test set

In [ ]:
from sklearn.metrics import accuracy_score
X_test_predict = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_predict, Y_test)
print(test_data_accuracy)

0.871801850843767